*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   width: 100vw;
   height: 100vh;
   padding: 0.5rem;
}
.container{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 4px;
    width: 100%;
    height: 100%;
}
#column-left{
    border: 2px solid black;
    padding: 1rem 0rem;
}
#column-left>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
#column-left>ul>li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
#column-left>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 2vmin;
}
img{
   width: clamp(1vmin, 5vmin, 7vmin);
   height: clamp(1vmin, 5vmin, 7vmin);
}
#column-right{
 display: grid;
 grid-template-rows: 1fr 3fr;
 gap: 6px;
}
.user-info{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;
}
.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
}
.user>div{
    display: flex;
    gap: 1rem;
}
.user>div>button{
    padding: 0.25rem 1.5rem;
}
.user>p{
    display: flex;
    align-items: center;
}
.user>p>img{
    width: 10vmin;
    height: 10vmin;
}
form{
    display: flex;
    flex-wrap: wrap;
}
fieldset{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vmin;
    width: 100%;
    justify-content:space-evenly;
    border: none;
}
fieldset>div{
    display: flex;
    align-items: center;
}
fieldset>p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigator, .user, .projects, .extras{
    border: 2px solid black;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
    gap: 6px;
}
.projects, .extras{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    font-size: 2vmin;
}
.projects-items,.extras-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
}
.extras-items{
    grid-template-columns: 1fr;
}
.projects-items>div, .extras-items>div{
    border: 2px solid black;
    font-size: 2vmin;
    display: grid;
    justify-content: center;
}
#project-status, #extra-status{
    border: 2px solid black;
    display: flex;
    align-items: center;
    width: fit-content;
}

