*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 0.25em;
}
section#container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.25em;
}
#contentColumn{
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 0.5rem;
}
#sideBarColumn, #contentColumn>header{
    border: 2px solid black;
}
#contentColumn>main{
    display: flex;
    flex-direction: row;

}

#projectsContainer, #extrasContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2em 0.5em;
    row-gap: 0.5em;
}
#projectsContainer{
    flex-grow: 2; 
}
#extrasContainer{
    flex-grow: 1;
}

#projects, #extras{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 2em 0.5em;
}
#projects{
    flex-direction: row;
}
#extras{
    flex-direction: column;
}
#projects>div, #extras>div{
    width: auto;
    height: auto;
    border: 1px solid olive;
}
